.hero {
  position: relative;
  z-index: 2; /* make sure it's above background */
  color: white;
  text-align: center;
  margin-top: 100px;
}

.hero-text p {
  font-size: 2rem;
  margin: 5px 0;
}

.hero-explore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.hero-dot-play {
  margin-top: 30px;
}

.hero-dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.hero-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-dot.orange {
  background: orange;
}
